.App {
  text-align: center;
}

.frame{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  margin: 5em 0;
  height: 220px;
  align-items: center;
}

.card{
  border-radius: 2em;
  padding: 0 1em;
  background-color: #818181;
  height:220px;
}

.controller{
  background:rgb(53, 49, 49);
  margin:0 1em;
  border:1px solid;
  height:3em;
  width:3em;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
 
}


.control-buttons{
  height:4em;
  width:3.5em;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-panel{
 display: flex;
 justify-content: center;
 text-align: center;
}

.navbar{
  background-color: black;
  display:flex;
  text-align: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.btn{
  border-radius: 10%;
  margin:auto;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
}

.text{
  color: white;
  text-transform: uppercase;
  margin-left:30px;
}

.heading{
  text-align: center;
  justify-content: center;
  margin:50px 0 -10px 0;
}