.App {
  text-align: center;
}

.frame{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  margin: 5em 0;
  height: 220px;
  align-items: center;
}

.card{
  border-radius: 2em;
  padding: 0 1em;
  background-color: #818181;
  height:220px;
}

